.ecorn_image {
    width: 200px;
    height: 100px;
}

body {
    background-color: #E6E6FA;
}


/* Container
============================== */
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    border-bottom: 1px solid #515369;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Header Шапка сайта
============================== */
.super__header {
    display: flex;
    justify-content: space-between;
    font-family: Raleway, sans-serif;
    padding: 30px 0;
    border-bottom: 1px solid #515369;
    align-items: center;
}
.header{
    margin: 0 auto;
    font-family: 'Kaushan', sans-serif;
    font-size: 14px;
    color: #9966CC;
    background-color: #E6E6FA;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
    align-items: center;
}


/*NAV
=======================*/
.nav{
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link{
    margin-left: 50px;
    padding: 10px;
    color: #9966CC;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover{
    opacity: 1;
}

/*FORM
=============================*/

.product-form-container{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center

}

.product-form{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.header-label-form{
    padding: 10px 0;
    color: black;
    font-family: Cambria, sans-serif;
}

.input-form{

}

/*PRODUCT LIST
=============================*/
.product-list {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.product_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-name {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h2 {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card p {
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-card .price {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.product-card .btn-product {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    background-color: #1CAC78;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.product-card .btn:hover {
    opacity: 1;
}

.default-btn{
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    background-color: #1CAC78;
    width: 100px;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.default-btn:hover {
    opacity: 1;
}