.ecorn_image {
    width: 200px;
    height: 100px;
}

body {
    background-color: #E6E6FA;
}


/* Container
============================== */
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    border-bottom: 1px solid #515369;
}

/* Header Шапка сайта
============================== */
.super__header {
    display: flex;
    justify-content: space-between;
    font-family: Raleway, sans-serif;
    padding: 30px 0;
    border-bottom: 1px solid #515369;
    align-items: center;
}
.header{
    margin: 0 auto;
    font-family: 'Kaushan', sans-serif;
    font-size: 14px;
    color: #9966CC;
    background-color: #E6E6FA;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
    align-items: baseline;
}


/*NAV
=======================*/
.nav{
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link{
    margin-left: 50px;
    padding: 10px;
    color: #9966CC;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover{
    opacity: 1;
}

/*FORM
=============================*/

.product-form-container{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center

}

.product-form{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.header-label-form{
    padding: 10px 0;
    color: black;
    font-family: Cambria, sans-serif;
}

.input-form{
    white-space: nowrap;
}

.size-checkbox{
    white-space: normal;
    display: inline-block;
    width: 48%;
    vertical-align: top;
    background: #fff2e1;
}
.input-form.size-checkbox:first-child {
    margin-right: 4%;
}