.reg-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 30px 30px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
body{
    background-color: #E6E6FA;
}

.reg-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.reg-form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.reg-form-group label {
    display: block;
    float: left;
    width: 200px;
    height: 10px;

}

.reg-form-group input {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reg-form-group input[type="submit"] {
    background-color: #4CAF50;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    width: 150px;
    height: 30px;
}

.reg-submit a{
    border-radius: 4px;
    background-color: #4CAF50;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    width: 100px;
    font-family: 'Kaushan', sans-serif;
    font-size: 14px;
}

.reg-form-group input[type="submit"]:hover {
    background-color: #45a049;
}


.reg-submit a:hover {
    background-color: #45a049;
}

.reg-img{
    width: 350px;
    height: 150px;
    margin: 20px 38% 0 38%;
}