<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/bucket.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<script th:replace="fragments/menu :: scripts"></script>

<div class="cart">
    <div class="cart-header">
        <h2 class="cart-title">Корзина</h2>
        <!-- Добавьте иконку корзины или другие элементы управления -->
    </div>
    <ul class="cart-items">
        <!-- Здесь разместите код для отображения товаров в корзине -->
        <li class="cart-item" th:each="detail : ${bucket.bucketDetails}">
            <div>
                <div class="cart-item-name" th:text="${detail.title}"></div>
                <div class="cart-item-price" th:text="${detail.price}"></div>
                <div style="display: inline; padding: 0 0 10px 0">
                    <label for="amount">Кол-во</label>
                    <div class="cart-item-amount" id="amount" th:text="${detail.amount}"></div>
                </div>
            </div>
            <div class="cart-item-sum" th:text="${detail.sum}"></div>
            <a href="#">Удалить</a>
        </li>
    </ul>
    <div class="cart-total">
        <span class="cart-total-label">Итого:</span>
        <span class="cart-total-price"><b th:text="${bucket.sum}">0</b></span>
    </div>
    <div class="cart-actions">
        <button class="cart-action-button">Оформить заказ</button>
    </div>
</div>
<footer style="margin: 100px 0 0 0">
    <p>&copy; 2024 Ecorn Store. All rights reserved.</p>
</footer>
</body>
</html>