<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo Shop</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body{
        background-color: #E6E6FA;
    }</style>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<script th:replace="fragments/menu :: scripts"></script>

<div>
    <section class="news-feed">
        <div class="news-item">
            <div sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                <button class="buy-button" th:href="@{/addNew}">Добавить новость</button>
            </div>
            <h3>А у нас вот что..</h3>
            <ul th:each="news : ${newsList}">
                    <li class="news-frame-item">
                        <a th:href="@{'/news/' + ${news.id}}" th:text="${news.name}"></a>
                    </li>
            </ul>
        </div>
    </section>
    <section class="hero">
        <div class="hero-content">
            <h1>Добро пожаловать в мир моды с Ecorn!</h1>
            <p>Уникальная вышивка на любой части твоей одежды</p>
            <a href="#" class="btn">Успей купить</a>
        </div>
    </section>
    <br>
    <br>
    <footer>
        <p>&copy; 2024 Ecorn Store. All rights reserved.</p>
    </footer>
</div>
</body>
</html>