<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>О нас</title>

    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/onas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!--STOMP-->
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<script th:replace="fragments/menu :: scripts"></script>

<div class="nas-container">
    <div class="about-us">
        <div class="about-section">
            <p>Добро пожаловать в наш интернет-магазин вышитой одежды! Мы - команда энтузиастов, увлеченных вышивкой и искусством создания уникальных нарядов. Наша страсть к ручной работе и любовь к деталям приводят нас к созданию эксклюзивных и неповторимых дизайнов, которые подчеркивают вашу индивидуальность и стиль.</p>
            <p>Каждая вышивка, которую мы создаем, проходит через многочасовой процесс, в котором мы выбираем наилучшие материалы, тщательно планируем дизайн и вручную выполняем каждую строчку. Мы уделяем особое внимание качеству и деталям, чтобы каждое изделие было идеальным. Мы гордимся нашей работой и стремимся превзойти ожидания наших клиентов.</p>
            <p>Наша цель - сделать вышитую одежду доступной каждому. Мы предлагаем широкий ассортимент изделий, включая футболки, свитшоты, рубашки, платья, куртки и многое другое. У нас есть дизайны для разных возрастов, полов и стилей. Вы можете выбрать готовый дизайн из нашей коллекции или заказать индивидуальную вышивку, чтобы создать по-настоящему уникальное изделие.</p>
            <p>Наш интернет-магазин - это не только место для покупок, но и сообщество людей, разделяющих общую страсть к вышивке и красоте ручной работы. Мы приглашаем вас присоединиться к нашему сообществу, где вы сможете делиться своими впечатлениями, вдохновляться другими и находить новые идеи для вашей стильной вышивки.</p>
            <p>Благодарим вас за то, что выбрали нас. Мы ценим каждого нашего клиента и готовы сделать все возможное, чтобы ваше путешествие в мир вышитой одежды было незабываемым. Добро пожаловать в нашу уютную семью, где каждое изделие - это проявление вашей уникальности и стиля.</p>
            <br>
            <p>С любовью, <br>
                Команда Ecorn</p>
        </div>
        <a href="/shop">Посмотреть нашу коллекцию</a>
    </div>
</div>
</body>
</html>