<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/product-list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!--STOMP-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!--app.js dependance: jquery-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/product.js"></script>
    <script src="/slider.js"></script>
    <script src="/cycle_slider.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<script th:replace="fragments/menu :: scripts"></script>

<a class="btd-add-new-product" th:href="@{products/new_product}">
    <button sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" type="button">
        Добавить продукт</button>
</a>


<div class="container">
    <div class="product-block" th:each="product : ${products}">
        <div class="slider">
            <div class="slides" th:each="image : ${product.images}">
                <img th:src="@{'/api/images/' + ${image.id}}">
            </div>
            <button class="prev">Previous</button>
            <button class="next">Next</button>
        </div>
        <div class="product-details">
            <a th:href="@{/products/product/{id}(id=${product.id})}"><h3 th:text="${product.title}"></h3></a>
            <p>Ecorn</p>
            <p>Цена</p>
            <p th:text="${product.price}">Цена</p>
            <p>Описание</p>
            <textarea id="description" rows="6" th:text="${product.description}" readonly>Описание</textarea>
            <p>Размер</p>
            <a class="buy-button" th:href="@{/products/{id}/bucket(id=${product.id})}">Купить</a>
        </div>
        <div>
            <a sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" th:href="@{'/products/edit/' + ${product.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" th:href="@{'/products/delete/' + ${product.id}}"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>