<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">>
<head>
    <meta charset="UTF-8">
    <title>Карточка продукта</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/product-card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="/comments.js"></script>
    <script src="/slider.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<script th:replace="fragments/menu :: scripts"></script>

<div class="product-card" th:if="${product}">
    <div class="product-info">
        <h2 th:text="${product.title}"></h2>
        <p th:text="${product.price}"></p>
        <p th:text="${product.description}"></p>
        <div class="product-slider-container">
            <div class="gallery">
                <!-- Содержимое слайдера -->
                    <figure class="gallery__item--1">
                        <img class="gallery__img" th:src="@{'/api/images/' + ${product.images[0].id}}">
                    </figure>
                    <figure class="gallery__item--2">
                        <img class="gallery__img" th:src="@{'/api/images/' + ${product.images[1].id}}">
                    </figure>>
                    <figure class="gallery__item--3">
                        <img class="gallery__img" th:src="@{'/api/images/' + ${product.images[2].id}}"></figure>
            </div>
        </div>
    </div>
    <div class="comments-section">
        <h3>Отзывы</h3>
        <div class="comments">
            <!-- Комментарии -->
        </div>
        <div class="comment-input">
            <textarea placeholder="Add a comment"></textarea>
            <button>Добавить отзыв</button>
        </div>
    </div>
</div>
</body>

</body>
</html>