<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>

<div>
    <img class="reg-img" src="/image/Ecorn.jpg">
</div>
<div class="reg-container">
    <h2>Регистрация</h2>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <p th:if="${loginError}" class="error">Неправильное имя или пароль</p>
        <div class="reg-form-group">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" th:field="*{username}">
        </div>
        <div class="reg-form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" th:field="*{email}">
        </div>
        <div class="reg-form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" th:field="*{password}">
        </div>
        <div class="reg-form-group">
            <label for="matching_password">Повторить пароль:</label>
            <input type="password" id="matching_password" name="matching_password" th:field="*{matchingPassword}">
        </div>
        <div class="reg-form-group">
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
        </div>
        <div class="reg-form-group">
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
        </div>
        <div class="reg-form-group">
            <label for="address">Адрес:</label>
            <input type="text" id="address" name="address" th:field="*{address}">
        </div>
        <div class="reg-form-group">
            <input type="submit" value="Зарегистрироваться">
        </div>
    </form>
</div>

</body>
</html>